In [1]:
import pandas as pd
import numpy as np

In [3]:
# Series : 1차원 배열 형태의 객체, {key(index):value}
# List, Dictionary, Tuple 등을 사용해 생성 가능
data = [9904312,3448737,289045,2466052] # List
index=['서울', '부산', '인천', '대구']

In [4]:
# index : 각 column에 대한 값들을 통괄하는 각 행에 붙는 이름의 집합
s = pd.Series(data, index=index)
s

서울    9904312
부산    3448737
인천     289045
대구    2466052
dtype: int64

In [5]:
s.index.name = '도시' # index에 이름 -> index의 의미전달
s

도시
서울    9904312
부산    3448737
인천     289045
대구    2466052
dtype: int64

In [6]:
# integer position(default : initial point = 0), index label(string)
s[[0,3,1]] # List of index : 해당 인덱스만 추출하여 시리즈 형태로 반환

도시
서울    9904312
대구    2466052
부산    3448737
dtype: int64

In [7]:
# Series slilcing : Series[init,end+1] or Series[init_lab,end_lab]
s[0:3] # 서울에서 인천까지 출력

도시
서울    9904312
부산    3448737
인천     289045
dtype: int64

In [8]:
s['서울':'인천']

도시
서울    9904312
부산    3448737
인천     289045
dtype: int64

In [9]:
# Accessing with dot to value
s.부산

3448737

In [10]:
s.name = '인구' # 시리즈 데이터에 이름 -> value의 의미전달
s

도시
서울    9904312
부산    3448737
인천     289045
대구    2466052
Name: 인구, dtype: int64

In [11]:
s.values

array([9904312, 3448737,  289045, 2466052], dtype=int64)

In [14]:
type(s.values)

numpy.ndarray

In [15]:
# 벡터화 연산 : 배열, 시리즈와 같은 집합적 자료형의 원소 각각을 독립적으로 계산을 진행하는 방법
pd.Series([1,2,3]) + 4

0    5
1    6
2    7
dtype: int64

In [17]:
# 시리즈 간의 연산 : # 동일한 인덱스는 연산을 진행하고, 연산이 불가능한 인덱스에 해당하는 값은 NaN으로 처리
s1=pd.Series([1,2,3,4],index=['a','b','c','d'])
s2=pd.Series([5,6,7,8],index=['a','b','e','f'])
s1-s2

a   -4.0
b   -4.0
c    NaN
d    NaN
e    NaN
f    NaN
dtype: float64

In [19]:
# 딕셔너리의 items() 함수를 시리즈에 사용
s.items() # zip 객체

In [20]:
list(s.items())

[('서울', 9904312), ('부산', 3448737), ('인천', 289045), ('대구', 2466052)]

In [21]:
# 시리즈의 각 원소 출력
for key, value in s.items():
    print('%s = %d' % (key, value))

서울 = 9904312
부산 = 3448737
인천 = 289045
대구 = 2466052

In [22]:
# s 시리즈의 '부산'의 인구 값을 1630000으로 변경
s['부산'] = 1630000
s

도시
서울    9904312
부산    1630000
인천     289045
대구    2466052
Name: 인구, dtype: int64

In [23]:
# 시리즈 내의 원소 삭제 : del
del s['서울']
s

도시
부산    1630000
인천     289045
대구    2466052
Name: 인구, dtype: int64

In [24]:
# 시리즈에 새로운 원소 추가
s['대구'] = 18750000
s

도시
부산     1630000
인천      289045
대구    18750000
Name: 인구, dtype: int64

In [25]:
# size : 개수 반환 -> 속성(attribute)
# shape : 튜플 형태로 shape반환 -> 속성
# unique: 유일한 값만 ndarray로 반환
# count : NaN을 제외한 개수를 반환
# mean: NaN을 제외한 평균
# value_counts: NaN을 제외하고 각 값들의 빈도를 반환